$margin-top: 4em;

.button--margin-left {
  margin-left: 7.5%;
}

.main--position {
  margin: 6em;
}

.button--margin-top {
  margin-top: $margin-top;
}

.section--margin-top {
  margin-top: $margin-top;
}

.button--margin-right, .section--margin-right {
  margin-right: 2em;
}

.h3--margin-left {
  margin-left: 2.5em;
}