<main class="main--position">
  <section fxLayout="row" fxLayoutAlign="start center">
    <button [routerLink]='["/buscar/pasajeros"]' class="button--margin-right" mat-icon-button aria-label="Arrow Back Icon">
      <mat-icon>arrow_back_ios</mat-icon>
    </button>
    <h2>Listado de los pasajeros que quieren viajar</h2>
  </section>
  <h3 class="h3--margin-left">{{ busquedaPasajeros.salida }} - {{ busquedaPasajeros.destino }}</h3>  
  <section class="section--margin-top">
    <informacion-pasajeros [viajes]="busquedaPasajeros.viajes"></informacion-pasajeros>
  </section>
  <section class="button--margin-top" fxLayout="row" fxLayoutAlign="end center">
    <button [routerLink]="['/buscar/pasajeros/']" class="button--margin" mat-raised-button>Volver a buscar</button>
  </section>
</main>