<main class="main--position">
  <section fxLayout="row" fxLayoutAlign="start center">
    <button [routerLink]='["/"]' class="button--margin-right" mat-icon-button aria-label="Arrow Back Icon">
      <mat-icon>arrow_back_ios</mat-icon>
    </button>
    <h2>Introduzca los datos</h2>
  </section>
  <section>
    <form [formGroup]="placesForm">
      <section class="section--margin-top" fxLayout="row" fxLayoutAlign="space-around center">
        <mat-form-field class="form-field--big-width">
          <mat-label>¿Desde dónde sales?</mat-label>
          <input formControlName="salida" matInput>
          <mat-hint>Ej. Granada, Calle Arabial</mat-hint>
        </mat-form-field>
        <mat-form-field class="form-field--big-width">
          <mat-label>¿A dónde vas?</mat-label>
          <input formControlName="destino" matInput>
          <mat-hint>Ej. Jerez de la Frontera, Estación de Tren</mat-hint>
        </mat-form-field>
      </section>
      <section class="section--margin-top">
        <h3 class="h3--margin-left">Disponibilidad</h3>
        <ng-container formArrayName="disponibilidades">
          <section class="section--margin-top" *ngFor="let disponibilidad of disponibilidades.controls; index as i" fxLayout="row" fxLayoutAlign="space-around center">
            <ng-container [formGroupName]="i">
              <mat-form-field>
                <mat-label>Fecha</mat-label>
                <input formControlName="fecha" matInput>
                <mat-hint>22/08/2020</mat-hint>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Hora Salida</mat-label>
                <input formControlName="horaSalida" matInput>
                <mat-hint>02:43 AM</mat-hint>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Hora Llegada</mat-label>
                <input formControlName="horaLlegada" matInput>
                <mat-hint>02:43 AM</mat-hint>
              </mat-form-field>
            </ng-container>
          </section>
        </ng-container>
      </section>
      <section class="section--margin-top">
        <button class="button--margin-left" (click)="addDisponibilidad()" mat-icon-button aria-label="Add Row Icon Button">
          <mat-icon>add_circle</mat-icon>
        </button>
      </section>
      <section fxLayout="row" fxLayoutAlign="end center">
        <button (click)="send()" class="button--margin" mat-raised-button>Enviar</button>
      </section>
    </form>
  </section>
</main>