<main class="main--position">
  <section>
	  <h1 fxLayout="row" fxLayoutAlign="center center">Comparta Viaje</h1>
	  <h2 fxLayout="row" fxLayoutAlign="center center">Conozca a gente nueva</h2>
  </section>
	<section class="section--margin-top" fxLayout="row" fxLayoutAlign="space-between center" >
		<button mat-raised-button [routerLink]="['/buscar/pasajero']">Buscar Pasajero</button>
		<button mat-raised-button>Ofrecerse como Pasajero</button>
	</section>
	<section class="section--margin-top" fxLayout="row" fxLayoutAlign="space-between center">
		<button mat-raised-button>Buscar Conductor</button>
		<button mat-raised-button>Ofrecerse como Conductor</button>
	</section>
</main>
