<header>
  <section>Logo Bi4Group</section>
  <section>Iniciar Sesión</section>
  <section>Registrarse</section>
</header>
<main>
  <section>Comparta Viaje</section>
  <section>Conozca a gente nueva</section>
  <section>
    <button mat-button>Buscar Pasajero</button>
    <button mat-button>Ofrecerse como Pasajero</button>
  </section>
  <section>
    <section>Buscar Conductor</section>
    <section>Ofrecerse como Conductor</section>
  </section>
</main>
<footer>
  <section>2020 Bi4Group, All rights reserved</section>
  <section>
    <ul>
      <li>Sobre Nosotros</li>
      <li>Términos y Condiciones</li>
      <li>Sobre Nosotros</li>
      <li>Privacidad</li>
      <li>FAQ</li>
    </ul>
  </section>
</footer>